<!DOCTYPE html>
<!--
  MOE-Theme: overall_header.html
  Erbt von prosilver (TEMPLATE_INHERITS_ID = 1).
  Überschreibt nur den <head>-Bereich, um Design-Token-CSS einzubinden.
  Issue #173: Design-Token-Synchronisation Figma → Forum Theme
-->
<!-- INCLUDE overall_header.html -->
<!-- BEGIN head_stylesheet -->
<link rel="stylesheet" href="{T_THEME_PATH}/tokens.css" type="text/css" media="screen">
<link rel="stylesheet" href="{T_THEME_PATH}/colours.css" type="text/css" media="screen">
<!-- END head_stylesheet -->
