openapi: 3.1.0
info:
  title: Menschlichkeit Österreich – Vereinsplattform API
  version: 2.0.0
  description: |
    Vollständige REST-API der Menschlichkeit Österreich Vereinsplattform.
    Alle geschützten Endpunkte erfordern einen JWT Bearer Token (Authorization: Bearer <token>).
  contact:
    email: admin@menschlichkeit-oesterreich.at

servers:
  - url: https://api.menschlichkeit-oesterreich.at
    description: Produktion
  - url: http://localhost:8001
    description: Lokal

security:
  - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code: { type: integer }
            message: { type: string }
            path: { type: string }

    TokenData:
      type: object
      properties:
        token: { type: string }
        expires_in: { type: integer }

    TokenResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/TokenData'

    MessageResponse:
      type: object
      properties:
        message: { type: string }

    Member:
      type: object
      properties:
        id: { type: string, format: uuid }
        email: { type: string, format: email }
        vorname: { type: string }
        nachname: { type: string }
        mitgliedschaft_typ: { type: string }
        status: { type: string }
        rolle: { type: string }
        joined_at: { type: string, format: date-time, nullable: true }
        created_at: { type: string, format: date-time, nullable: true }

    MemberListResponse:
      type: object
      properties:
        data: { type: array, items: { $ref: '#/components/schemas/Member' } }
        total: { type: integer }
        page: { type: integer }
        page_size: { type: integer }

    BlogArticle:
      type: object
      properties:
        id: { type: string, format: uuid }
        titel: { type: string }
        inhalt: { type: string }
        autor_id: { type: string }
        status: { type: string }
        erstellt_am: { type: string, format: date-time }

    Event:
      type: object
      properties:
        id: { type: string, format: uuid }
        titel: { type: string }
        beschreibung: { type: string }
        datum: { type: string, format: date-time }
        ort: { type: string }
        max_teilnehmer: { type: integer, nullable: true }
        status: { type: string }

    ForumCategory:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        beschreibung: { type: string, nullable: true }

    ForumThread:
      type: object
      properties:
        id: { type: string, format: uuid }
        titel: { type: string }
        kategorie_id: { type: string }
        autor_id: { type: string }
        erstellt_am: { type: string, format: date-time }
        antworten_anzahl: { type: integer }

    ForumPost:
      type: object
      properties:
        id: { type: string, format: uuid }
        thread_id: { type: string }
        inhalt: { type: string }
        autor_id: { type: string }
        erstellt_am: { type: string, format: date-time }

    FinanceOverview:
      type: object
      properties:
        einnahmen_monat_cents: { type: integer }
        ausgaben_monat_cents: { type: integer }
        saldo_monat_cents: { type: integer }
        einnahmen_jahr_cents: { type: integer }
        ausgaben_jahr_cents: { type: integer }
        saldo_jahr_cents: { type: integer }
        offene_rechnungen: { type: integer }
        ueberfaellige_rechnungen: { type: integer }

    KpisOverview:
      type: object
      properties:
        members_total: { type: integer }
        net_new_members_month: { type: integer }
        donations_ytd_cents: { type: integer }
        income_vs_expense_current_month_cents: { type: integer }
        as_of: { type: string, format: date }
        since: { type: string, format: date }

paths:
  # ── Health ──────────────────────────────────────────────────────────────────
  /healthz:
    get:
      tags: [Health]
      summary: Liveness-Check
      security: []
      responses:
        '200':
          description: API läuft

  /readyz:
    get:
      tags: [Health]
      summary: Readiness-Check
      security: []
      responses:
        '200':
          description: API ist bereit
        '503':
          description: API nicht bereit (DB-Verbindung fehlt)

  /api/version:
    get:
      tags: [Health]
      summary: API-Version
      security: []
      responses:
        '200':
          description: Versionsinformation

  # ── Authentifizierung ───────────────────────────────────────────────────────
  /api/auth/login:
    post:
      tags: [Authentifizierung]
      summary: Anmelden
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string, format: email }
                password: { type: string }
      responses:
        '200':
          description: JWT Token
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TokenResponse' }
        '401':
          description: Ungültige Anmeldedaten

  /api/auth/register:
    post:
      tags: [Authentifizierung]
      summary: Registrieren
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password, vorname, nachname]
              properties:
                email: { type: string, format: email }
                password: { type: string, minLength: 8 }
                vorname: { type: string }
                nachname: { type: string }
                mitgliedschaft_typ: { type: string, default: ordentlich }
      responses:
        '201':
          description: Registrierung erfolgreich
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TokenResponse' }
        '409':
          description: E-Mail bereits registriert

  /api/auth/password-reset:
    post:
      tags: [Authentifizierung]
      summary: Passwort-Reset anfordern
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email }
      responses:
        '200':
          description: Reset-Link gesendet (immer 200 – verhindert User-Enumeration)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MessageResponse' }

  /api/auth/password-reset/confirm:
    post:
      tags: [Authentifizierung]
      summary: Passwort-Reset bestätigen
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token, new_password]
              properties:
                token: { type: string }
                new_password: { type: string, minLength: 8 }
      responses:
        '200':
          description: Passwort zurückgesetzt
        '400':
          description: Ungültiger oder abgelaufener Token

  # ── Mitglieder ──────────────────────────────────────────────────────────────
  /api/members:
    get:
      tags: [Mitglieder]
      summary: Mitgliederliste (Moderator+)
      parameters:
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: page_size
          in: query
          schema: { type: integer, default: 20, maximum: 100 }
        - name: search
          in: query
          schema: { type: string }
        - name: status_filter
          in: query
          schema: { type: string }
      responses:
        '200':
          description: Mitgliederliste
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MemberListResponse' }

  /api/members/{id}:
    get:
      tags: [Mitglieder]
      summary: Mitglied abrufen
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Mitgliedsdaten
        '404':
          description: Nicht gefunden
    put:
      tags: [Mitglieder]
      summary: Mitglied aktualisieren (Admin)
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                vorname: { type: string }
                nachname: { type: string }
                status: { type: string }
                mitgliedschaft_typ: { type: string }
      responses:
        '200':
          description: Aktualisiert
    delete:
      tags: [Mitglieder]
      summary: Mitglied deaktivieren (Admin)
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Deaktiviert

  # ── Rollen ──────────────────────────────────────────────────────────────────
  /api/roles:
    get:
      tags: [Rollen]
      summary: Alle Rollen abrufen (Admin)
      responses:
        '200':
          description: Rollenliste

  /api/roles/assign:
    post:
      tags: [Rollen]
      summary: Rolle zuweisen (Admin)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [member_id, role]
              properties:
                member_id: { type: string, format: uuid }
                role: { type: string }
      responses:
        '200':
          description: Rolle zugewiesen

  # ── Blog ────────────────────────────────────────────────────────────────────
  /api/blog/articles:
    get:
      tags: [Blog]
      summary: Artikel abrufen
      security: []
      parameters:
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: page_size
          in: query
          schema: { type: integer, default: 20 }
      responses:
        '200':
          description: Artikelliste
    post:
      tags: [Blog]
      summary: Artikel erstellen (Admin/Moderator)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [titel, inhalt]
              properties:
                titel: { type: string }
                inhalt: { type: string }
      responses:
        '201':
          description: Erstellt

  /api/blog/articles/{article_id}:
    get:
      tags: [Blog]
      summary: Artikel abrufen
      security: []
      parameters:
        - name: article_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Artikel
        '404':
          description: Nicht gefunden
    put:
      tags: [Blog]
      summary: Artikel aktualisieren
      parameters:
        - name: article_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Aktualisiert
    delete:
      tags: [Blog]
      summary: Artikel löschen (Admin)
      parameters:
        - name: article_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '204':
          description: Gelöscht

  # ── Veranstaltungen ─────────────────────────────────────────────────────────
  /api/events:
    get:
      tags: [Veranstaltungen]
      summary: Veranstaltungen abrufen
      security: []
      parameters:
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: upcoming_only
          in: query
          schema: { type: boolean, default: true }
      responses:
        '200':
          description: Veranstaltungsliste
    post:
      tags: [Veranstaltungen]
      summary: Veranstaltung erstellen (Admin/Moderator)
      responses:
        '201':
          description: Erstellt

  /api/events/{event_id}:
    get:
      tags: [Veranstaltungen]
      summary: Veranstaltung abrufen
      security: []
      parameters:
        - name: event_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Veranstaltung
    put:
      tags: [Veranstaltungen]
      summary: Veranstaltung aktualisieren
      parameters:
        - name: event_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Aktualisiert
    delete:
      tags: [Veranstaltungen]
      summary: Veranstaltung löschen (Admin)
      parameters:
        - name: event_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '204':
          description: Gelöscht

  /api/events/{event_id}/rsvp:
    post:
      tags: [Veranstaltungen]
      summary: Anmeldung zu Veranstaltung
      parameters:
        - name: event_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Anmeldung erfolgreich

  # ── Forum ───────────────────────────────────────────────────────────────────
  /api/forum/categories:
    get:
      tags: [Forum]
      summary: Forum-Kategorien abrufen
      responses:
        '200':
          description: Kategorieliste

  /api/forum/threads:
    get:
      tags: [Forum]
      summary: Forum-Threads abrufen
      parameters:
        - name: kategorie_id
          in: query
          schema: { type: string }
        - name: page
          in: query
          schema: { type: integer, default: 1 }
      responses:
        '200':
          description: Threadliste
    post:
      tags: [Forum]
      summary: Thread erstellen
      responses:
        '201':
          description: Erstellt

  /api/forum/threads/{thread_id}:
    get:
      tags: [Forum]
      summary: Thread abrufen
      parameters:
        - name: thread_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Thread
    put:
      tags: [Forum]
      summary: Thread aktualisieren
      parameters:
        - name: thread_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Aktualisiert
    delete:
      tags: [Forum]
      summary: Thread löschen
      parameters:
        - name: thread_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '204':
          description: Gelöscht

  /api/forum/threads/{thread_id}/posts:
    get:
      tags: [Forum]
      summary: Beiträge eines Threads abrufen
      parameters:
        - name: thread_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Beitragsliste

  /api/forum/posts:
    post:
      tags: [Forum]
      summary: Beitrag erstellen
      responses:
        '201':
          description: Erstellt

  # ── Finanzen ────────────────────────────────────────────────────────────────
  /api/finance/overview:
    get:
      tags: [Finanzen]
      summary: Finanzübersicht (Admin)
      responses:
        '200':
          description: Finanzübersicht
          content:
            application/json:
              schema: { $ref: '#/components/schemas/FinanceOverview' }

  /api/finance/invoices:
    get:
      tags: [Finanzen]
      summary: Rechnungsliste (Admin)
      parameters:
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: page_size
          in: query
          schema: { type: integer, default: 20 }
        - name: status_filter
          in: query
          schema: { type: string }
      responses:
        '200':
          description: Rechnungsliste

  # ── Metriken/KPIs ───────────────────────────────────────────────────────────
  /api/kpis/overview:
    get:
      tags: [Metriken]
      summary: KPI-Übersicht (Admin)
      parameters:
        - name: since
          in: query
          schema: { type: string, format: date }
      responses:
        '200':
          description: KPI-Übersicht
          content:
            application/json:
              schema: { $ref: '#/components/schemas/KpisOverview' }

  /api/members/timeseries:
    get:
      tags: [Metriken]
      summary: Mitgliederentwicklung (Admin)
      parameters:
        - name: granularity
          in: query
          schema: { type: string, enum: [day, month, quarter, year], default: month }
        - name: months
          in: query
          schema: { type: integer, default: 12, minimum: 1, maximum: 60 }
      responses:
        '200':
          description: Zeitreihe

  /api/donations/summary:
    get:
      tags: [Metriken]
      summary: Spenden-Zusammenfassung (Admin)
      parameters:
        - name: period
          in: query
          schema: { type: string, enum: [last_12_months, ytd, last_30d], default: ytd }
      responses:
        '200':
          description: Spenden-Zusammenfassung

  /api/finance/income-vs-expense:
    get:
      tags: [Metriken]
      summary: Einnahmen vs. Ausgaben (Admin)
      parameters:
        - name: from_date
          in: query
          schema: { type: string, format: date }
        - name: to_date
          in: query
          schema: { type: string, format: date }
      responses:
        '200':
          description: Monatliche Einnahmen/Ausgaben

  /api/projects/burn:
    get:
      tags: [Metriken]
      summary: Projektbudget-Auslastung (Admin)
      parameters:
        - name: code
          in: query
          required: true
          schema: { type: string, minLength: 2, maxLength: 64 }
      responses:
        '200':
          description: Projektauslastung
        '404':
          description: Projekt nicht gefunden

  # ── SEO ─────────────────────────────────────────────────────────────────────
  /sitemap.xml:
    get:
      tags: [SEO]
      summary: Dynamische Sitemap (XML)
      description: |
        Generiert eine vollständige sitemap.xml mit statischen Seiten sowie
        dynamischen Blog-Artikeln und Veranstaltungen aus der Datenbank.
        Wird von Nginx gecacht (1h). Gibt bei DB-Fehler eine Teil-Sitemap zurück.
      security: []
      responses:
        '200':
          description: Sitemap XML
          content:
            application/xml:
              schema: { type: string }
          headers:
            Cache-Control: { schema: { type: string }, description: 'public, max-age=3600' }
            X-Content-Type-Options: { schema: { type: string }, description: nosniff }

  # ── Rechnungen & Finanzen (apps/api/app/routers/invoices.py) ─────────────
  /api/invoices:
    get:
      tags: [Rechnungen]
      summary: Rechnungen auflisten
      description: Admins sehen alle Rechnungen. Mitglieder nur ihre eigenen (via civicrm_contact_id).
      parameters:
        - name: status
          in: query
          schema: { type: string, enum: [offen, bezahlt, storniert, ueberfaellig] }
        - name: page
          in: query
          schema: { type: integer, default: 1, minimum: 1 }
        - name: per_page
          in: query
          schema: { type: integer, default: 25, minimum: 1, maximum: 100 }
      responses:
        '200':
          description: Rechnungsliste
          content:
            application/json:
              schema:
                type: object
                properties:
                  invoices: { type: array, items: { type: object } }
                  page: { type: integer }
        '401': { description: Nicht authentifiziert }

  /api/invoices/{id}:
    get:
      tags: [Rechnungen]
      summary: Einzelne Rechnung
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Rechnungsdetails inkl. Positionen
        '403': { description: Zugriff verweigert }
        '404': { description: Rechnung nicht gefunden }

  /api/invoices/{id}/download:
    get:
      tags: [Rechnungen]
      summary: PDF-Download-URL
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Vorgezeichnete PDF-URL
          content:
            application/json:
              schema:
                type: object
                properties:
                  download_url: { type: string, format: uri }
                  expires_in: { type: integer, description: Sekunden bis zum Ablauf }
        '403': { description: Zugriff verweigert }
        '404': { description: Rechnung oder PDF nicht gefunden }

  /api/invoices/{id}/send:
    post:
      tags: [Rechnungen]
      summary: Rechnung per E-Mail senden (Admin)
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email: { type: string, format: email, description: 'Wenn leer: recipient_email der Rechnung' }
      responses:
        '200':
          description: E-Mail in Warteschlange
        '403': { description: Nur für Administratoren }
        '404': { description: Rechnung nicht gefunden }

  /api/donations:
    get:
      tags: [Rechnungen]
      summary: Spendenübersicht (Admin)
      parameters:
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: per_page
          in: query
          schema: { type: integer, default: 25, maximum: 100 }
      responses:
        '200':
          description: Spendenliste
        '403': { description: Nur für Administratoren }

  /api/donations/{id}:
    get:
      tags: [Rechnungen]
      summary: Einzelne Spende (Admin)
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Spendendetails
        '403': { description: Nur für Administratoren }
        '404': { description: Spende nicht gefunden }

  /api/sepa/mandates:
    get:
      tags: [Rechnungen]
      summary: SEPA-Mandate auflisten (Admin)
      parameters:
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: per_page
          in: query
          schema: { type: integer, default: 25, maximum: 100 }
      responses:
        '200':
          description: SEPA-Mandatsliste
        '403': { description: Nur für Administratoren }

  /api/sepa/batches:
    get:
      tags: [Rechnungen]
      summary: SEPA-Batches auflisten (Admin)
      responses:
        '200':
          description: SEPA-Batch-Liste
        '403': { description: Nur für Administratoren }
    post:
      tags: [Rechnungen]
      summary: Neuen SEPA-Batch anlegen (Admin)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [collection_date, mandate_ids]
              properties:
                collection_date: { type: string, format: date, description: 'ISO-Date: YYYY-MM-DD' }
                batch_type: { type: string, default: RCUR, enum: [FRST, RCUR, FNAL, OOFF] }
                mandate_ids: { type: array, items: { type: integer } }
      responses:
        '201':
          description: SEPA-Batch angelegt
        '400': { description: Ungültige Mandats-IDs oder Datum }
        '403': { description: Nur für Administratoren }
